<a class="social-link twitter" href="http://twitter.com/jsdelivr/" target="_blank"><i class="fa fa-twitter"></i></a>
<a class="social-link github" href="http://github.com/jsdelivr/jsdelivr/" target="_blank"><i class="fa fa-github-alt"></i></a>
<a class="social-link rss" href="{{ site.url }}/rss"><i class="fa fa-rss"></i></a>
