<aside class="site-meta">
    <a href="/" class>
        <img class="headshot" src="{{asset "img/logo.png"}}" srcset="{{asset "img/logo@2x.png"}} 2x">
    </a>
    <p class="intro-blurb">jsDelivr - a free open source CDN for npm and github</p>
    <nav class="social">
        {{>links}}
    </nav>

    <nav class="site-nav">
        <a class="site-nav--item site-nav--link-blog" href="/">Blog home</a>
        <a class="site-nav--item site-nav--link-about" href="https://www.jsdelivr.com/">Website home</a>
        <form action="#" class="site-nav--item site-nav--search">
            <input type="text" name="search" class="site-nav--search-input" placeholder="Search...">
            <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
        </form>
    </nav>

    <section class="search-results"></section>
</aside>
