*, *:before, *:after {
    box-sizing: border-box;
    position: relative;
}

html {
    font-size: $base-font-size;
    overflow-x: hidden;

    @include mq('small') {
        font-size: 22px;
    }

    @media (max-width: 600px) {
        font-size: $base-font-size;
    }
}

body {
    background: $body-background;
    color: $base-color;
    font-family: $base-font-family;
    line-height: $base-line-height;
    font-weight: 400;
    overflow-x: hidden;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

.screen-reader {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-justify {
    text-align: justify !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.img-shadow {
    box-shadow: 0 0 10px rgba(20, 20, 20, 0.3);
}